<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.sdu.dk/bdd/xtext/BddDsl"
			class = "dk.sdu.bdd.xtext.bddDsl.BddDslPackage"
			genModel = "model/generated/BddDsl.genmodel" />
	</extension>
</plugin>
