body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	font: 16px Helvetica,sans-serif;
}

a {
	color: #22a;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.editor-tab {
  height: 2rem;
}

.container {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.container h1 {
  display: inline-block;
}


.header {
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	padding: 10px;
}

.content {
	display: flex;
	flex-direction: row;
  height: 80vh;
}

.file-name{
  margin-left: 20vw;
}

.xtext-wrapper {
	top: 90px;
	bottom: 0;
	left: 0;
	flex: 2;
	height: 100%;
}


.tab {
  background-color: #ddd;
  padding: 5px 2.5px;
}

#xtext-editor-entities {
	display: none;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 4px;
    box-sizing: border-box;
	border: 1px solid #aaa;
	height: 100%;
}

#xtext-editor-scenarios {
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 4px;
    box-sizing: border-box;
	border: 1px solid #aaa;
	height: 100%;
}

#blockly-editor {
	flex: 3;
	height: 100%;
}
#blockly-editor2 {
	flex: 3;
	height: 100%;
} 
